    header
        {
          background: royalblue;
        }

    section
        {
          background:  hotpink;
        }
    body
        {
          background: skyblue;
        }
    footer
        {
          background: lightseagreen ;
        }
    


